{% extends "weight/base.html" %}
{% block content %}
    <a class="btn btn-info" href="{% url "weight-add-exercise" %}" role="button" style="position: relative; top:10px; right:950px ">Add Exercise </a>
    <a class="btn btn-info" href="{% url "weight-view-exercise" %}" role="button" style="position: relative; top:10px; right:950px ">View Exercise </a>
    <div class="card" style="width: 20rem; top: 75px; left: 600px; float:left; text-align: center; background: #71a0b2" >
        <div class="card-body" style="float: left;">
            <h5 class="card-title">Daily Calorie Burn</h5>
            <p class="card-text">{{ caloriesone }} Calories Burned</p>
        </div>
    </div>
    <div class="card" style="width: 20rem; top: 75px; left: 650px; float:left; text-align: center; background: #71a0b2" >
        <div class="card-body" style="float: left;">
            <h5 class="card-title">Weekly Calorie Burn</h5>
            <p class="card-text">{{ total_weekly_calories }} Calories Burned</p>
        </div>
    </div>
    <div class="card" style="width: 20rem; top: 75px; left: 700px; float:left; text-align: center; background: #71a0b2" >
        <div class="card-body" style="float: left;">
            <h5 class="card-title">Lifetime Calorie Burn</h5>
            <p class="card-text">{{ total_calories }} Calories Burned</p>
        </div>
    </div>

    <div style="width: 1000px; height: 1000px; position:relative; top:150px; left:600px;">
        <h4 style="text-align: center">Weekly Calorie Burn</h4>
        <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["{{ dayseven }}", "{{ daysix }}", "{{ dayfive }}", "{{ dayfour }}", "{{ daythree }}", "{{ daytwo }}", "{{ dayone }}" ],
                datasets: [
                    {
                        label: '# of Calories Burned',
                        data: [{{ calorieseven }}, {{ caloriessix }}, {{ caloriesfive }}, {{ caloriesfour }}, {{ caloriesthree }}, {{ caloriestwo }}, {{ caloriesone }}],
                        borderWidth: 1
                    },
                    {
                        label: '# of Calories Burned Goal',
                        data:[{{ caloriegoal }},{{ caloriegoal }},{{ caloriegoal }},{{ caloriegoal }},{{ caloriegoal }},{{ caloriegoal }},{{ caloriegoal }}],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock content %}